PROJECT_NAME=your-project-name
#PROJECT_ALIASES= previous names of your project

# STORAGE SETTINGS
#GRAPHITI_MODE=local
#GRAPHITI_ENDPOINT=http://localhost:8010/mcp/
#GRAPHITI_GROUP_ID=your-project-name

# Remote Neo4j
#GRAPHITI_MODE=remote-neo4j
#GRAPHITI_ENDPOINT=http://localhost:8010/mcp/
#GRAPHITI_GROUP_ID=your-project-name
#NEO4J_URI=neo4j+s://xxxxx.databases.neo4j.io
#NEO4J_USER=neo4j
#NEO4J_PASSWORD=your-password
#OPENAI_API_KEY=sk-xxxxx

# Remote Zep
#GRAPHITI_MODE=zep-cloud
#GRAPHITI_ENDPOINT=https://api.getzep.com/mcp/
#GRAPHITI_GROUP_ID=your-project-name
#ZEP_API_KEY=zep_xxxxx
#ZEP_PROJECT_ID=your-project-id